@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Light mode colors */
    --background-color: #ffffff;
    --gradient-start: #f0f0f0;
    --gradient-end: #d0d0d0;
    --text-color: #000000;
}

html.dark {
    /* Night mode colors */
    --background-color: #1E1E1E;
    --gradient-start: #2B2B2B;
    --gradient-end: #1E1E1E;
    --text-color: #ffffff;
}

body {
    background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
}